.fem_rating{
    display:-webkit-inline-flex;
    display:-ms-inline-flexbox;
    display:inline-flex;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center
}
.fem_rating .fem_rating_bg_start{
    color:#fff0f0;
    position:relative
}
.fem_rating .fem_rating_bg_start:not(:last-child){
    -webkit-margin-end:5px;
    margin-inline-end:5px
}
.fem_rating .fem_rating_bg_start .fem_rating_front_start{
    position:absolute;
    left:0;
    color:#fa4946;
    overflow:hidden;
    -webkit-overflow-scrolling:touch
}
.fem_rating .fem_rating_left{
    -webkit-margin-end:6px;
    margin-inline-end:6px
}
.fem_rating .fem_rating_right{
    -webkit-margin-start:6px;
    margin-inline-start:6px
}
.fem_toast{
    position:fixed;
    z-index:-1024;
    height:100%;
    width:100%;
    top:-15px;
    opacity:0;
    visibility:hidden;
    -webkit-transition:opacity .3s ease-in-out;
    transition:opacity .3s ease-in-out;
    -webkit-transition-property:top,opacity;
    transition-property:top,opacity
}
.fem_toast.fem_toast_open{
    z-index:1024!important;
    top:0;
    opacity:1;
    visibility:visible
}
.fem_toast .fem_toast_warp{
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    width:100%;
    height:100%;
    overflow-y:scroll;
    -webkit-overflow-scrolling:touch
}
.fem_toast .fem_toast_warp .fem_toast_content{
    background:rgba(58,58,58,.9);
    color:#fff;
    opacity:1;
    border-radius:5px;
    min-width:100px;
    max-width:50vw;
    padding:10px;
    text-align:center
}
.fem_toast .fem_toast_warp .fem_toast_content div{
    line-height:1.43
}
.fem_toast .fem_toast_warp .fem_toast_content div p{
    margin:0
}
.fem_btn{
    width:100%;
    border:none;
    outline:none;
    padding:0;
    margin:0;
    border-radius:4px;
    font-size:16px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    height:36px;
    line-height:36px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
.fem_btn_xs{
    height:24px;
    line-height:24px;
    font-size:14px
}
.fem_btn_sm{
    height:30px;
    line-height:30px;
    font-size:14px
}
.fem_btn_md{
    height:36px;
    line-height:36px;
    font-size:16px
}
.fem_btn_lg{
    height:40px;
    line-height:40px;
    font-size:16px
}
.fem_btn_xlg{
    height:44px;
    line-height:44px;
    font-size:18px
}
.fem_btn_primary{
    color:#fff;
    background:-webkit-gradient(linear,left top,right top,from(#ff604c),to(#eb104b));
    background:-webkit-linear-gradient(left,#ff604c,#eb104b);
    background:linear-gradient(90deg,#ff604c,#eb104b)
}
.fem_btn_white{
    border:.5px solid #e2e2e2;
    background:#fff;
    color:#333
}
.fem_btn_light{
    border:.5px solid #fa423e;
    background:#fff2f2;
    color:#fa423e
}
.fem_btn_disabled{
    border:none;
    background:#ccc!important;
    color:#fff!important
}
.fem_drawer{
    z-index:-1;
    position:fixed;
    width:0;
    height:0;
    overflow:hidden;
    -webkit-overflow-scrolling:touch
}
.fem_drawer.fem_drawer_hidding{
    z-index:999;
    height:100%;
    width:100%
}
.fem_drawer.fem_drawer_hidden .fem_drawer_mask{
    display:none
}
.fem_drawer.fem_drawer_bottom{
    width:100%;
    bottom:0
}
.fem_drawer.fem_drawer_bottom.fem_drawer_open{
    height:100%
}
.fem_drawer.fem_drawer_bottom .fem_drawer_wrapper{
    right:0;
    left:0;
    bottom:0
}
.fem_drawer.fem_drawer_bottom .fem_drawer_wrapper.fem_d_hidden{
    -webkit-transform:translateY(100%);
    -ms-transform:translateY(100%);
    transform:translateY(100%)
}
.fem_drawer.fem_drawer_bottom .fem_drawer_wrapper.fem_d_show{
    -webkit-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0)
}
.fem_drawer.fem_drawer_bottom .fem_drawer_wrapper .fem_drawer_content{
    max-height:80vh;
    overflow:auto;
    border-radius:4px 4px 0 0;
    -webkit-overflow-scrolling:touch
}
.fem_drawer.fem_drawer_right{
    height:100%;
    right:0;
    top:0
}
.fem_drawer.fem_drawer_right.fem_drawer_open{
    width:100%
}
.fem_drawer.fem_drawer_right .fem_drawer_wrapper{
    right:0;
    left:20vw;
    bottom:0;
    top:0
}
.fem_drawer.fem_drawer_right .fem_drawer_wrapper.fem_d_hidden{
    -webkit-transform:translateX(100%);
    -ms-transform:translateX(100%);
    transform:translateX(100%)
}
.fem_drawer.fem_drawer_right .fem_drawer_wrapper.fem_d_show{
    -webkit-transform:translateX(0);
    -ms-transform:translateX(0);
    transform:translateX(0)
}
.fem_drawer.fem_drawer_right .fem_drawer_wrapper .fem_drawer_content{
    height:100vh;
    overflow:auto;
    -webkit-overflow-scrolling:touch
}
.fem_drawer.fem_drawer_right .fem_drawer_close{
    left:8px
}
.fem_drawer.fem_drawer_left{
    height:100%;
    left:0;
    top:0
}
.fem_drawer.fem_drawer_left.fem_drawer_open{
    width:100%
}
.fem_drawer.fem_drawer_left .fem_drawer_wrapper{
    left:0;
    right:20vw;
    bottom:0;
    top:0
}
.fem_drawer.fem_drawer_left .fem_drawer_wrapper.fem_d_hidden{
    -webkit-transform:translateX(-100%);
    -ms-transform:translateX(-100%);
    transform:translateX(-100%)
}
.fem_drawer.fem_drawer_left .fem_drawer_wrapper.fem_d_show{
    -webkit-transform:translateX(0);
    -ms-transform:translateX(0);
    transform:translateX(0)
}
.fem_drawer.fem_drawer_left .fem_drawer_wrapper .fem_drawer_content{
    height:100vh;
    overflow:auto;
    -webkit-overflow-scrolling:touch
}
.fem_drawer.fem_drawer_left .fem_drawer_close{
    right:8px
}
.fem_drawer.fem_drawer_open{
    z-index:999;
    transition:transform .3s cubic-bezier(.86,0,.07,1),-webkit-transform .3s cubic-bezier(.86,0,.07,1)
}
.fem_drawer .fem_drawer_mask{
    position:fixed;
    width:100%;
    opacity:0;
    background-color:rgba(0,0,0,.65);
    opacity:.5;
    height:100%
}
.fem_drawer .fem_drawer_wrapper{
    position:fixed
}
.fem_drawer .fem_drawer_content{
    width:100%;
    height:100%;
    background:#fff;
    position:relative;
    border:0;
    background-clip:padding-box;
    z-index:1;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column
}
.fem_drawer .fem_drawer_title{
    height:40px;
    line-height:40px;
    border-bottom:.5px solid #eee;
    text-align:center;
    font-weight:500;
    -webkit-flex-grow:0;
    -ms-flex-positive:0;
    flex-grow:0;
    -ms-flex-negative:0;
    -webkit-flex-shrink:0;
    flex-shrink:0
}
.fem_drawer .fem_drawer_body{
    -webkit-flex-grow:1;
    -ms-flex-positive:1;
    flex-grow:1;
    -ms-flex-negative:1;
    -webkit-flex-shrink:1;
    flex-shrink:1;
    overflow-y:scroll;
    padding:12px;
    -webkit-overflow-scrolling:touch
}
.fem_drawer .fem_drawer_close{
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    width:40px;
    height:40px;
    line-height:40px;
    position:absolute;
    right:0;
    color:#666;
    z-index:100
}
.fem_drawer>*{
    -webkit-transition:-webkit-transform .3s cubic-bezier(.86,0,.07,1);
    transition:-webkit-transform .3s cubic-bezier(.86,0,.07,1);
    transition:transform .3s cubic-bezier(.86,0,.07,1);
    transition:transform .3s cubic-bezier(.86,0,.07,1),-webkit-transform .3s cubic-bezier(.86,0,.07,1)
}
.ReturnTop_return_top__6TBlv{
    position:fixed;
    z-index:1000;
    width:56px;
    height:56px;
    background-color:rgba(0,0,0,.6);
    border-radius:50%;
    text-align:center;
    display:flex;
    flex-flow:column;
    justify-content:space-around;
    cursor:pointer
}
.LuckyDrawStart_spinWrapper__V4nd0{
    position:absolute;
    right:0;
    top:0;
    bottom:0;
    padding-left:50px;
    padding-right:50px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    box-sizing:border-box;
    opacity:1;
    transition:all 1s;
    z-index:1005;
    width:420px
}
.LuckyDrawStart_spinWrapper__V4nd0.LuckyDrawStart_spinWrapperDisappear__rTKOR{
    transform:translateY(-100px);
    opacity:0;
    z-index:1
}
.LuckyDrawStart_spinWrapper__V4nd0 .LuckyDrawStart_spinTitle__6zsgS{
    font-size:24px;
    font-weight:700;
    text-align:left;
    color:#1a1a1a;
    line-height:32px
}
.LuckyDrawStart_spinWrapper__V4nd0 .LuckyDrawStart_spinText__EtXLd{
    font-size:16px;
    font-weight:400;
    text-align:left;
    color:#333;
    line-height:20px;
    margin-top:16px;
    margin-bottom:34px
}
.LuckyDrawStart_spinWrapper__V4nd0 .LuckyDrawStart_spinInputWrapper__kzbs4{
    width:320px;
    height:48px;
    margin-bottom:10px;
    position:relative;
    box-sizing:border-box;
    border:1px solid #999
}
.LuckyDrawStart_spinWrapper__V4nd0 .LuckyDrawStart_spinInputWrapper__kzbs4 .LuckyDrawStart_panelList__17nLa{
    position:absolute;
    left:-1px;
    top:44px;
    height:0;
    background:#fff;
    overflow:auto;
    padding:0 16px;
    box-sizing:border-box;
    transition:all .15s;
    cursor:pointer;
    -webkit-overflow-scrolling:touch
}
.LuckyDrawStart_spinWrapper__V4nd0 .LuckyDrawStart_spinInputWrapper__kzbs4 .LuckyDrawStart_panelList_active__f8m3o{
    width:320px;
    height:90px;
    box-sizing:border-box;
    border:1px solid #999
}
.LuckyDrawStart_spinWrapper__V4nd0 .LuckyDrawStart_spinInputWrapper__kzbs4 .LuckyDrawStart_planeItem__K7AJg{
    font-size:14px;
    font-weight:400;
    text-align:left;
    color:#666;
    line-height:18px;
    margin-top:12px
}
.LuckyDrawStart_spinWrapper__V4nd0 .LuckyDrawStart_spinInputWrapper__kzbs4 .LuckyDrawStart_iconWrapper__7XZ0D{
    position:absolute;
    top:12px;
    right:13px;
    background:#f5f5f5;
    color:#333;
    border-radius:50%;
    width:20px;
    height:20px;
    box-sizing:border-box;
    z-index:100000;
    align-items:center;
    justify-content:center
}
.LuckyDrawStart_spinWrapper__V4nd0 .LuckyDrawStart_spinInputWrapper__kzbs4 .LuckyDrawStart_iconWrapper__7XZ0D .LuckyDrawStart_iconClose__F4QPK{
    transform:scale(.7);
    font-size:12px
}
.LuckyDrawStart_spinWrapper__V4nd0 .LuckyDrawStart_spinInputWrapperError__Wr_mf{
    border-color:#fa423e
}
.LuckyDrawStart_spinInput__fRxYd{
    width:100%;
    height:100%;
    outline:none;
    border:0;
    box-sizing:border-box;
    padding:14px 0 14px 16px;
    font-size:16px;
    font-weight:400;
    color:#333;
    caret-color:#333;
    line-height:20px
}
.LuckyDrawStart_spinInputDisable__YFZ1Q{
    background:#f5f5f5;
    border:1px solid #ccc
}
.LuckyDrawStart_spinInputDisable__YFZ1Q .LuckyDrawStart_spinInput__fRxYd{
    color:#666
}
.LuckyDrawStart_errorInfo__XMpbJ{
    font-size:14px;
    font-weight:400;
    text-align:left;
    color:#fa423e;
    line-height:16px;
    margin-bottom:10px;
    margin-top:-4px
}
.LuckyDrawStart_spinButton__ov5bb{
    width:320px;
    height:48px;
    background:#ff8c00;
    text-align:center;
    line-height:24px;
    font-weight:400;
    color:#fff;
    padding-top:14px;
    font-size:20px;
    box-sizing:border-box;
    cursor:pointer
}
.LuckyDrawStart_spinButtonDisable__1VCVY{
    opacity:.7
}
.LuckyDrawResult_result__WoWPY{
    position:absolute;
    right:0;
    top:0;
    padding:40px 50px;
    z-index:1001;
    box-sizing:border-box;
    flex:1 1;
    transform:translateY(150px);
    opacity:0;
    transition:all 1s ease .5s;
    width:420px
}
.LuckyDrawResult_result__WoWPY.LuckyDrawResult_resultAppear__04KiL{
    opacity:1;
    transform:translateY(0)!important
}
.LuckyDrawResult_result__WoWPY .LuckyDrawResult_title__53pSF{
    font-size:24px;
    text-align:left;
    color:#1a1a1a;
    line-height:32px;
    margin-bottom:2px;
    font-weight:SemiBold
}
.LuckyDrawResult_result__WoWPY .LuckyDrawResult_text__W3CP3{
    font-size:16px;
    font-weight:400;
    text-align:left;
    color:#333;
    line-height:20px;
    margin-bottom:20px
}
.LuckyDrawResult_result__WoWPY .LuckyDrawResult_discountWrapper__g9JfF{
    width:320px;
    height:96px;
    background-image:url(https://setup-platform.wholeecdn.com/assets/3d4b9d17a6bcf031c0c7db6aa3068546_pc_320x96.png);
    background-size:cover;
    display:table
}
.LuckyDrawResult_result__WoWPY .LuckyDrawResult_discountWrapper__g9JfF .LuckyDrawResult_tableCell__bPcp_{
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content:center;
    align-items:center
}
.LuckyDrawResult_result__WoWPY .LuckyDrawResult_discountWrapper__g9JfF .LuckyDrawResult_discountValue__i_Hkq{
    font-size:32px;
    color:#191919;
    line-height:36px;
    text-align:center
}
.LuckyDrawResult_result__WoWPY .LuckyDrawResult_discountWrapper__g9JfF .LuckyDrawResult_limit__mj2ng{
    min-width:104px;
    font-size:14px;
    line-height:18px;
    padding:6px 16px 2px;
    height:26px;
    background:#1a1a1a;
    font-weight:300;
    color:#fff;
    text-align:center;
    box-sizing:border-box
}
.LuckyDrawResult_result__WoWPY .LuckyDrawResult_code__wJLq7,.LuckyDrawResult_result__WoWPY .LuckyDrawResult_copy__JZXKG{
    width:320px;
    height:48px;
    text-align:center;
    box-sizing:border-box;
    line-height:49px
}
.LuckyDrawResult_result__WoWPY .LuckyDrawResult_code__wJLq7{
    background:#f5f5f5;
    border:1px solid #ccc;
    font-size:16px;
    color:#1a1a1a;
    box-sizing:border-box;
    margin-top:20px;
    margin-bottom:10px
}
.LuckyDrawResult_result__WoWPY .LuckyDrawResult_copy__JZXKG{
    background:#ff8c00;
    font-size:20px;
    font-weight:400;
    color:#fff;
    cursor:pointer
}
.LuckyDrawModal_rotaryTableWrapper__yaTet{
    position:fixed;
    width:800px;
    height:400px;
    background:#fff;
    z-index:1004;
    top:25%;
    left:50%;
    transform:translateX(-50%);
    box-sizing:border-box;
    border-radius:4px
}
.LuckyDrawModal_rotaryTableWrapper__yaTet .LuckyDrawModal_closeModal__W2vcK{
    position:absolute;
    top:24px;
    right:24px;
    font-size:18px;
    z-index:1100;
    cursor:pointer
}
.LuckyDrawModal_rotaryTableBody__GNP2L{
    display:flex;
    width:100%;
    height:100%
}
.LuckyDrawModal_leftSide__GK9vx{
    width:380px;
    background:#fffaf4;
    padding:60px 0;
    box-sizing:border-box;
    border-radius:4px
}
.LuckyDrawModal_rotaryPic__p_3s3{
    width:280px;
    height:280px;
    border-radius:50%;
    margin:auto;
    background-image:url(https://setup-platform.wholeecdn.com/assets/72ae7e85f333a103421d3ac792972aee_turnbig_952x952.png);
    background-size:cover;
    color:#fff;
    position:relative;
    transition:transform 5s ease
}
.LuckyDrawModal_rotaryItem__kjOfq{
    position:absolute;
    width:125px;
    height:125px;
    top:140px;
    left:140px;
    color:#fff;
    display:table;
    text-align:center;
    font-size:15px;
    font-weight:500;
    color:#333;
    padding-left:13px;
    box-sizing:border-box;
    transform-origin:0 0
}
.LuckyDrawModal_rotaryItem__kjOfq:nth-of-type(3){
    transform:rotate(-114deg)!important;
    left:135px;
    top:136px
}
.LuckyDrawModal_rotaryItem__kjOfq:nth-of-type(5){
    transform:rotate(-20deg)!important;
    left:143px;
    top:128px
}
.LuckyDrawModal_needle__nga3G{
    width:48px;
    height:30px;
    background-image:url(https://setup-platform.wholeecdn.com/assets/ff9c8b27c59184988944dab67278675b_pointer_68x51.png);
    background-size:cover;
    position:absolute;
    top:182px;
    left:172px
}
.LuckyDrawFloatIcon_lucyDrawIconWrapper__g_Me8{
    position:fixed;
    right:5px;
    bottom:35%;
    z-index:1001;
    padding-right:10px;
    cursor:pointer
}
.LuckyDrawFloatIcon_lucyDrawIconWrapper__g_Me8 .LuckyDrawFloatIcon_lucyDrawIcon__BJN_d{
    width:57px;
    height:57px;
    transform:rotate(1turn);
    background-image:url(https://setup-platform.wholeecdn.com/assets/fc2940cda4111f2d1d38c86f6e284dcc_pcTurn_68x68.png);
    background-size:cover;
    -webkit-animation:LuckyDrawFloatIcon_rotation__RWKoE 2.5s linear infinite;
    animation:LuckyDrawFloatIcon_rotation__RWKoE 2.5s linear infinite
}
.LuckyDrawFloatIcon_lucyDrawIconWrapper__g_Me8 .LuckyDrawFloatIcon_pointer__EqaOn{
    width:23px;
    height:13px;
    background-image:url(https://setup-platform.wholeecdn.com/assets/0df50d70761ddee66db656a0f4ddc1be_pcPointer_46x38.png);
    background-size:cover;
    position:absolute;
    top:20px;
    left:20px
}
.LuckyDrawFloatIcon_lucyDrawIconWrapper__g_Me8 .LuckyDrawFloatIcon_text__TVveJ{
    position:absolute;
    bottom:-5px;
    left:-4px;
    width:65px;
    height:17px;
    background:linear-gradient(237deg,#ffc000 11%,#ff8c00 83%);
    border:1px solid #fff;
    border-radius:9px;
    font-size:12px;
    text-align:left;
    color:#fff;
    line-height:9px;
    text-shadow:0 1px 4px 0 rgba(255,124,0,.6);
    text-align:center;
    display:flex;
    flex-flow:column;
    justify-content:space-around
}
.LuckyDrawFloatIcon_lucyDrawIconWrapper__g_Me8 .LuckyDrawFloatIcon_text__TVveJ .LuckyDrawFloatIcon_scaleText__9woJa{
    transform:scale(.8)
}
.LuckyDrawFloatIcon_lucyDrawIconWrapper__g_Me8 .LuckyDrawFloatIcon_closeWrapper__H2DGk{
    width:17px;
    height:17px;
    position:absolute;
    right:0;
    top:-15px;
    color:#fff;
    border-radius:50%;
    background:rgba(0,0,0,.5);
    cursor:pointer
}
.LuckyDrawFloatIcon_lucyDrawIconWrapper__g_Me8 .LuckyDrawFloatIcon_closeWrapper__H2DGk .LuckyDrawFloatIcon_close_icon__00_3a{
    box-sizing:border-box;
    display:flex;
    justify-content:center;
    align-items:center;
    transform:scale(.7);
    font-size:12px
}
@-webkit-keyframes LuckyDrawFloatIcon_rotation__RWKoE{
    0%{
        transform:rotate(0deg)
    }
    to{
        transform:rotate(1turn)
    }
}
@keyframes LuckyDrawFloatIcon_rotation__RWKoE{
    0%{
        transform:rotate(0deg)
    }
    to{
        transform:rotate(1turn)
    }
}
.fem_load_block{
    height:40vw;
    position:relative;
    background:#fff
}
.fem_load_block:after{
    display:block;
    content:"";
    position:absolute;
    top:12px;
    left:12px;
    right:12px;
    bottom:12px;
    background:#eee
}
.fem_load_text{
    height:5vw;
    margin-bottom:2px;
    position:relative
}
.fem_load_text:after{
    display:block;
    content:"";
    position:absolute;
    top:2px;
    left:12px;
    right:12px;
    bottom:2px;
    background:#eee
}
.fem_load_rect{
    height:10vw;
    width:10vw;
    position:relative
}
.fem_load_rect:after{
    display:block;
    content:"";
    position:absolute;
    top:2px;
    left:2px;
    right:2px;
    bottom:2px;
    background:#eee
}
.fem_load_round{
    height:10vw;
    width:10vw;
    position:relative
}
.fem_load_round:after{
    display:block;
    content:"";
    border-radius:50%;
    position:absolute;
    top:2px;
    left:2px;
    right:2px;
    bottom:2px;
    background:#eee
}
.fem_load_img{
    width:25vw;
    height:25vw;
    background-color:#f3f3f3;
    color:#dedede;
    text-align:center;
    vertical-align:middle;
    line-height:100%;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    font-size:14px;
    font-weight:500
}
.fem_load_img,.fem_load_media{
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex
}
.fem_load_media{
    padding:12px
}
.fem_load_media .fem_load_media_right{
    -webkit-flex-grow:1;
    -ms-flex-positive:1;
    flex-grow:1
}
.fem_loading_animation{
    background:#fff;
    -webkit-animation:react-placeholder-pulse 1.5s infinite;
    animation:react-placeholder-pulse 1.5s infinite
}
@-webkit-keyframes react-placeholder-pulse{
    0%{
        opacity:.5
    }
    50%{
        opacity:1
    }
    to{
        opacity:.5
    }
}
@keyframes react-placeholder-pulse{
    0%{
        opacity:.5
    }
    50%{
        opacity:1
    }
    to{
        opacity:.5
    }
}
.LuckyDraw_mask__y6RFP{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,.5);
    z-index:1003
}
.CategoryBar_categoryBar__Yomp5{
    position:relative;
    background-color:#fff;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.CategoryBar_categoryBar__Yomp5.CategoryBar_categoryBar_sticky__ElGia{
    position:-webkit-sticky;
    position:sticky;
    top:70px;
    z-index:100
}
.CategoryBar_categoryBar__Yomp5 .CategoryBar_wrapper__7uia5{
    display:flex;
    width:1200px;
    margin:0 auto;
    font-size:14px;
    font-weight:500;
    color:#1a1a1a;
    height:48px
}
.CategoryBar_categoryBar__Yomp5 .CategoryBar_wrapper__7uia5 .CategoryBar_allCategory__DBCWG{
    display:flex;
    align-items:center;
    padding:0 20px 0 0;
    cursor:pointer
}
.CategoryBar_categoryBar__Yomp5 .CategoryBar_wrapper__7uia5 .CategoryBar_allCategory__DBCWG i{
    font-size:23px;
    margin-right:5px
}
.CategoryBar_categoryBar__Yomp5 .CategoryBar_wrapper__7uia5 .CategoryBar_categoryList__YOa_W{
    flex:1 1;
    display:flex;
    align-items:center;
    overflow-x:scroll;
    box-shadow:inset 10px 0 10px -10px rgba(0,0,0,.08);
    scroll-behavior:smooth;
    -webkit-overflow-scrolling:touch
}
.CategoryBar_categoryBar__Yomp5 .CategoryBar_wrapper__7uia5 .CategoryBar_categoryList__YOa_W::-webkit-scrollbar{
    display:none
}
.CategoryBar_categoryBar__Yomp5 .CategoryBar_wrapper__7uia5 .CategoryBar_categoryList__YOa_W .CategoryBar_categoryItem__sHMxm{
    display:flex;
    align-items:center;
    height:100%;
    position:relative;
    cursor:pointer;
    padding:0 20px;
    white-space:nowrap
}
.CategoryBar_categoryBar__Yomp5 .CategoryBar_wrapper__7uia5 .CategoryBar_categoryList__YOa_W .CategoryBar_categoryItem__sHMxm.CategoryBar_selected__bxBHT:after{
    position:absolute;
    left:50%;
    bottom:0;
    transform:translateX(-12px);
    content:"";
    width:24px;
    height:2px;
    background-color:#1a1a1a
}
.CategoryBar_categoryBar__Yomp5 .CategoryBar_wrapper__7uia5 .CategoryBar_nextArrow__y0C10{
    display:flex;
    align-items:center;
    padding-left:10px;
    cursor:pointer
}
.CategoryBar_categoryBar__Yomp5 .CategoryBar_wrapper__7uia5 .CategoryBar_nextArrow__y0C10 i{
    font-size:16px;
    color:#333;
    margin-left:6px
}
.CategoryBar_categoryBar__Yomp5 .CategoryBar_wrapper__7uia5 .CategoryBar_nextArrow__y0C10 i.CategoryBar_disabled__ig549{
    color:#999
}
.CategoryBar_categoryBar__Yomp5 .CategoryBar_secondCategoryContainer__Wj5ty{
    position:absolute;
    width:100%;
    display:none;
    z-index:100;
    border-top:1px solid #eee
}
.CategoryBar_categoryBar__Yomp5 .CategoryBar_secondCategoryContainer__Wj5ty.CategoryBar_show__b8xXQ{
    display:block
}
.CategoryBar_categoryBar__Yomp5 .CategoryBar_secondCategoryContainer__Wj5ty .CategoryBar_secondCategoryList__XDX5N{
    display:flex;
    width:1200px;
    height:245px;
    box-sizing:border-box;
    padding:32px 0 32px 158px;
    margin:0 auto;
    background-color:#fff
}
.CategoryBar_categoryBar__Yomp5 .CategoryBar_secondCategoryContainer__Wj5ty .CategoryBar_secondCategoryList__XDX5N .CategoryBar_chunk__0yVT6{
    display:flex;
    flex-direction:column;
    height:100%
}
.CategoryBar_categoryBar__Yomp5 .CategoryBar_secondCategoryContainer__Wj5ty .CategoryBar_secondCategoryList__XDX5N .CategoryBar_chunk__0yVT6 .CategoryBar_secondCategoryItem__4rOg9{
    width:180px;
    margin-top:8px;
    font-size:14px;
    line-height:19px;
    text-decoration:none;
    color:#333
}
.CategoryBar_categoryBar__Yomp5 .CategoryBar_secondCategoryContainer__Wj5ty .CategoryBar_secondCategoryList__XDX5N .CategoryBar_chunk__0yVT6 .CategoryBar_secondCategoryItem__4rOg9.CategoryBar_viewAll__XWQmW{
    font-weight:500;
    color:#1a1a1a;
    text-decoration:underline
}
.CategoryBar_categoryBar__Yomp5 .CategoryBar_mask__eGjHH{
    width:100%;
    height:1000px;
    background-color:rgba(0,0,0,.5);
    display:block
}
.CategoryBar_categoryBar__Yomp5 .CategoryBar_mask__eGjHH.CategoryBar_maskShow__FjWil{
    display:block
}
